<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileWatcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FileWatcher.My.MySettings>
            <setting name="WatchPath" serializeAs="String">
                <value>\\Pc019_fs1\pc019_data\General Data\Access Documents\Backends</value>
            </setting>
            <setting name="WatchFile" serializeAs="String">
                <value>REC_INSP_DATA_KD.laccdb</value>
            </setting>
            <setting name="clrText" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="clrChanged" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="clrDeleted" serializeAs="String">
                <value>Red</value>
            </setting>
        </FileWatcher.My.MySettings>
    </userSettings>
</configuration>